* {
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft YaHei UI';
}
body {
    background-color: rgb(242, 242, 242);
    background-image: url(/defaultcover.jpg);
    background-size: 100%; 
}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.container {
    position: absolute;
    z-index: 99;
    width: 456px;
    height: 169px;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    background: #FCFCFC;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.785);
    border-radius: 24px;
    overflow: hi;
}
.container .play {
    position: absolute;
    background: #F5F5F5;
    width: 58px;
    height: 58px;
    bottom: 22px;
    right: 122px;
    border-radius: 100%;
    cursor: pointer;
}
.play:hover {
    transition: 0.2s linear;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px 0px rgb(183, 183, 183);
}
.play .on {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.play .off {
    display: none;
    position: absolute;
    right: 13px;
    top: 14px;
}
.next {
    cursor: pointer;
    position: absolute;
    right: 83px;
    top: 110px;
}
.last {
    cursor: pointer;
    position: absolute;
    top: 110px;
    right: 206px;
}
.cover {
    cursor: pointer;
    position: absolute;
    width: 153px;
    height: 153px;
    left: 35px;
    bottom: 50px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
    border-radius: 29px;
    background-image: url(defaultcover.jpg);
    background-position: center;
    background-size: 100%;
    animation: 2s linear 1s infinite alternate hoverCover;
}
.cover:hover {
    transition: 0.2s linear;
    transform: translateY(-3px);
}
@keyframes hoverCover {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}
.shadow {
    border-radius: 100%;
    width: 153px;
    height: 8px;
    background: rgb(217, 217, 217);
    position:absolute;
    bottom: 27px;
    left: 35px;
    filter: blur(2px);
    animation: 2s linear 1s infinite alternate hoverShadow;
}
@keyframes hoverShadow {
    from {
        width: 70px;
        left: 84px;
    }
    to {
        width: 135px;
        left: 44px;
        filter: blur(4px);
    }
}
.volume-bar {
    position: absolute;
    bottom: 25px;
    left: 26px;
    width: 173px;
    height: 7px;
    background-color: #D9D9D9;
    border-radius: 26px;
}
.volume-bar .volumed {
    width: 135px;
    height: 100%;
    background-color: #C5C7D2;
    border-radius: 26px;
}
.volume-bar::after {
    cursor: pointer;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 128px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #C5BDD0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.41);
}
.name {
    position: absolute;
    right: 38px;
    top: 23px;
    width: 188px;
    height: 48px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-indent: 10px;
}
.lyrics {
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #858585;
    font-weight: bold;
    font-size: 1.35rem;
    background-color: #ececec;
    outline: none;
    border: 0px;
}
.lyrics:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-1px);
    background-color: rgb(211, 211, 211);
}
.lyrics_more .title {
    position: absolute;
    top: 26px;
    font-size: 1.5rem;
    font-weight: bold;
}
.lyrics_more {
    position: absolute;
    z-index: -99;
    width: 400px;
    background:linear-gradient(to top, white, #F5F5F5);
    height: 430px;
    bottom: 168px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    left: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
    opacity: 0.9;
    transform: translateY(100%);
}
.lyrics_more_container {
    display: flex;
    white-space: pre-wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #3c3c3c;
}
.lyrics_more_container p:nth-child(2n+1) {
    margin-top: 25px;
    font-size: 1.05rem;
}
.lyrics_more_container p:nth-child(2n) {
    margin-top: 3px;
    color: #858585;
}
.mirror {
    position: absolute;
    z-index: -999;
    width: 456px;
    height: 639px;
    bottom: 0px;
    border-radius: 24px;
    overflow: clip;
    overflow-clip-margin: 500px;
    background-color: transform;
    overflow: hidden;
}
.arrow {
    position: absolute;
    left: 185px;
    top: -10px;
    cursor: pointer;
    transform: rotate(180deg);
    display: none;
}
.arrow:hover {
    animation: 0.5s linear alternate infinite arrowJump;
}
@keyframes arrowJump {
    from {
        top:-10px;
    }
    to {
        top:-20px;
    }
}
.mask {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
}
.lyrics_more .singer {
    position: absolute;
    top: 60px;
    color: #5b5b5b;
    font-size: 0.9rem;
}